@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 211 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 220 14% 96%;
    --accent-foreground: 220 14% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 211 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 100% / 0.05;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 100% / 0.05;
    --popover-foreground: 0 0% 100%;

    --primary: 211 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;

    --accent: 12 6% 15%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 211 100% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  :root {
    --chart-1: 211 100% 50%;
    --chart-2: 220 14% 85%;
    --chart-3: 0 0% 45%;
    --chart-4: 0 84% 60%;
    --chart-5: 200 95% 45%;
  }

  .dark {
    --chart-1: 211 100% 50%;
    --chart-2: 220 14% 65%;
    --chart-3: 0 0% 65%;
    --chart-4: 0 84% 60%;
    --chart-5: 200 95% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.markdown > * {
  all: revert;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.MuiPaper-root {
  box-shadow: none !important;
  /* background-color: var(--card) !important; */
}

.MuiPaper-elevation {
  box-shadow: none !important;
}

.MuiPaper-elevation12 {
  box-shadow: none !important;
}

.MuiScopedCssBaseline-root.css-12wnono-MuiScopedCssBaseline-root {
  background: var(--card) !important;
}

.css-jn2cxo-avoidParentStyle {
  /* all: initial; Resets all properties to their initial values */
  /* OR */
  all: unset;   /* Resets all properties to their inherited value if they're inheritable, or to their initial value if not */
}

/* Option 2: Using visibility hidden */
.css-10rokvf-container {
  visibility: hidden;
  background-color: var(--card) !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation12.css-munhbc-MuiPaper-root-viewContainer {
  /* Remove elevation/shadow */
  box-shadow: none !important;
  --Paper-shadow: none !important;
  
  /* Reset other common Material-UI Paper styles */
  background-color: var(--card) !important;
  border-radius: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.css-1nc5bej-scalebarContig-scalebarContigForward-scalebarBorder {
  border-color: var(--border) !important;
  color: var(--border) !important;
  outline-color: var(--border) !important;
}

.MuiAccordionSummary-root {
  background-color: var(--card) !important;
  visibility: hidden !important;
  height: 0 !important;
}

.MuiAccordion-heading {
  visibility: hidden !important;
  height: 0 !important;
}

.MuiAccordionDetails-root {
  margin-top: -3rem !important;
  width: 100% !important;
  max-width: 850px !important;
}

.MuiToolbar-root {
  background-color: var(--card) !important;
}

/* Matches classes that end with your pattern */
[class$="-fieldName"] {
  width: 100% !important;
  min-width: 7rem !important;
  max-width: 7.5rem !important;
}

@media (prefers-color-scheme: dark) {
  .css-1v770aq-scalebarContig-scalebarContigForward-scalebarBorder {
    border-color: var(--border) !important;
    color: var(--border) !important;
    outline-color: var(--border) !important;
    fill: var(--border) !important;
    color: var(--border) !important;
  }
}

.MuiTypography-body1, .MuiTypography-body2 {
  color: var(--foreground) !important;
}

.css-1xadetr-MuiPaper-root-viewContainer, .css-15tb27m-MuiPaper-root-viewContainer {
  background-color: var(--card) !important;
}

.css-10rokvf-container {
  background-color: var(--card) !important;
  box-shadow: none !important;
}

.MuiScopedCssBaseline-root {
  background-color: var(--card) !important;
}