@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 211 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 220 14% 96%;
    --accent-foreground: 220 14% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 211 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 100% / 0.05;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 100% / 0.05;
    --popover-foreground: 0 0% 100%;

    --primary: 211 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;

    --accent: 12 6% 15%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 211 100% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  :root {
    --chart-1: 211 100% 50%;
    --chart-2: 220 14% 85%;
    --chart-3: 0 0% 45%;
    --chart-4: 0 84% 60%;
    --chart-5: 200 95% 45%;
  }

  .dark {
    --chart-1: 211 100% 50%;
    --chart-2: 220 14% 65%;
    --chart-3: 0 0% 65%;
    --chart-4: 0 84% 60%;
    --chart-5: 200 95% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.markdown > * {
  all: revert;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* .MuiPaper-root {
  box-shadow: none !important;
  /* background-color: var(--background) !important;
} */

.MuiPaper-elevation {
  box-shadow: none !important;
}

.MuiScopedCssBaseline-root.css-12wnono-MuiScopedCssBaseline-root {
  background: var(--card) !important;
}

/* Option 1: Using display none */
/* .css-10rokvf-container {
  display: none;
} */

.css-jn2cxo-avoidParentStyle {
  all: initial; /* Resets all properties to their initial values */
  /* OR */
  all: unset;   /* Resets all properties to their inherited value if they're inheritable, or to their initial value if not */
}

/* Option 2: Using visibility hidden */
.css-10rokvf-container {
  visibility: hidden;
}

/* Option 3: Using opacity */
/* .css-10rokvf-container {
  opacity: 0;
  pointer-events: none;
} */